# MinIO Configuration
MINIO_ROOT_USER: minio
MINIO_ROOT_PASSWORD: CHANGE_ME_MINIO_PASSWORD
MINIO_SERVER_URL: http://localhost:9000
MINIO_BROWSER_REDIRECT_URL: http://localhost:9001

# MySQL Configuration
MYSQL_ROOT_PASSWORD: CHANGE_ME_MYSQL_PASSWORD
MYSQL_DATABASE: im

# Web Configuration
API_URL=http://octo-server:8090
